<%- include("./templates/header-layout", {title: title}) %>
<% if (menuData) { %>
    <%- include("./templates/menu", menuData) %>
<% } else { %>
<% } %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="card card-body">
            <% if (content) { %>
                <h5 class="card-title"><%= content.headline %></h5>
                <p class="card-text"><%= content.article %></p>
            <% } else { %>
            <% } %>
        </div>
    </div>
</div>

<%- include("./templates/footer-layout") %>